<% title "#{@property.address_line_1} - #{t('viewing_times.title')}" %>

<div class="row">

  <div class="large-9 columns">

    <h4><%= t('viewing_times.viewing_times_for') %> <%= link_to(@property.address_line_1, @property) %></h4>

    <ol>
      <% @viewing_times.each do |viewing_time| %>
          <li>
            <span><strong><%= t("ui.legacy.from") %></strong> <%= format_time(viewing_time.start_time) %></span> <strong><%= t("ui.legacy.to") %></strong>
            <span><%= format_time(viewing_time.end_time) %></span>
          </li>
      <% end %>
    </ol>

    <% if current_user == @property.user %>
        <p>
          <%= link_to t("ui.legacy.add_viewing_time"), new_property_viewing_time_path(@property), class: 'button' %>
        </p>
    <% end %>

  </div>

  <%= render "properties/property_sidebar" %>

</div>
