<% title t("ui.legacy.new_viewing_time_title", address: @property.address_line_1) %>

<div class="row">

  <div class="large-9 columns">

    <h4><%= t('viewing_times.add_viewing_times_for') %> <%= link_to(@property.address_line_1, @property) %></h4>

    <%= render "shared/under_construction" %>

    <%= form_with model: [@property, @viewing_time] do |f| %>
        <%= render "shared/errors", object: @viewing_time %>
        <fieldset>
          <ol>
            <li class="required">
              <%= f.label :start_time, nil, **form_label_options(@viewing_time, :start_time) %>
              <%= f.datetime_select :start_time, autofocus: true, minute_step: 15 %>
              <%= field_error_messages(@viewing_time, :start_time) %>
            </li>
            <li class="required">
              <%= f.label :end_time, nil, **form_label_options(@viewing_time, :end_time) %>
              <%= f.datetime_select :end_time, minute_step: 15 %>
              <%= field_error_messages(@viewing_time, :end_time) %>
            </li>
          </ol>
          <p>
            <%= f.submit t("ui.legacy.update") %>
            <%= link_to t("ui.common.cancel"), @property, class: 'button' %>
          </p>
        </fieldset>
    <% end %>

  </div>

  <%= render "properties/property_sidebar" %>

</div>
