<% title t('about_us.title') %>

<div class="row">

  <div class="large-9 push-3 columns">

    <h3><%= t('about_us.header') %>
      <small><%= t('about_us.blurb') %></small>
    </h3>

    <p><%= t('about_us.paragraph_1') %></p>

    <p><%= t('about_us.paragraph_2') %></p>

    <p><%= t('about_us.paragraph_3') %></p>

  </div>

  <div class="large-3 pull-9 columns">

    <ul class="side-nav">
      <li><a href="#"><%= t('side.section') %> 1</a></li>
      <li><a href="#"><%= t('side.section') %> 2</a></li>
      <li><a href="#"><%= t('side.section') %> 3</a></li>
      <li><a href="#"><%= t('side.section') %> 4</a></li>
    </ul>

    <p><%= world_image %></p>

  </div>

</div>