<p><%= t("ui.enquiries.mailer.greeting", name: @enquiry.customer_name) %></p>

<p><%= t("ui.enquiries.mailer.acknowledgement_body_html", address: @property.address_line_1) %></p>

<ul>
  <li><%= t("ui.enquiries.mailer.lead_reference", reference: @enquiry.lead_reference) %></li>
  <li><%= t("ui.enquiries.mailer.enquiry_type", source: @enquiry.display_source) %></li>
  <li><%= t("ui.enquiries.mailer.property", address: [@property.address_line_1, @property.town_city].compact.join(", ")) %></li>
</ul>

<p><%= t("ui.enquiries.mailer.reply_body") %></p>
