<p><%= t("ui.enquiries.mailer.internal_intro") %></p>

<ul>
  <li><%= t("ui.enquiries.mailer.lead_reference", reference: @enquiry.lead_reference) %></li>
  <li><%= t("ui.enquiries.mailer.property", address: @property.address_line_1) %></li>
  <li><%= t("ui.enquiries.mailer.customer", name: @enquiry.customer_name) %></li>
  <li><%= t("ui.enquiries.mailer.email", email: @enquiry.customer_email.presence || t("ui.enquiries.mailer.not_provided")) %></li>
  <li><%= t("ui.enquiries.mailer.phone", phone: @enquiry.customer_phone.presence || t("ui.enquiries.mailer.not_provided")) %></li>
  <li><%= t("ui.enquiries.mailer.source", source: @enquiry.display_source) %></li>
</ul>

<p><%= simple_format(@enquiry.message) %></p>
