<% title t('devise.views.unlocks.new.title') %>

<div class="row">

  <div class="large-9 columns">

    <h4><%= t('devise.views.unlocks.new.title') %></h4>

    <%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post, data: { turbo: false } }) do |f| %>
        <%= devise_error_messages! %>
        <fieldset>
          <ol>
            <li>
              <%= f.label :email, nil, **form_label_options(resource, :email) %>
              <%= f.email_field :email, autofocus: true, required: true, autocomplete: "email", **form_control_options(resource, :email) %>
              <%= field_error_messages(resource, :email) %>
            </li>
          </ol>
          <p>
            <%= f.submit  t('devise.views.unlocks.new.submit') %>
          </p>
        </fieldset>
    <% end %>

    <%= render :partial => "devise/shared/links" %>

  </div>

  <%= render "layouts/sidebar" %>

</div>
