<h5><%= t('statistics.property_totals') %></h5>
<table class="statistics-table">
  <tr>
    <th width=60%></th>
    <th width=40%><%= t('total') %></th>
  </tr>
  <tr>
    <td>
      <%= t('statistics.total_number_users') %>
    </td>
    <td>
      <%= number_with_delimiter(@total_number_users, :delimiter => ',') %>
    </td>
  </tr>
  <tr>
    <td>
      <%= t('statistics.num_english_users') %>
    </td>
    <td>
      <%= number_with_delimiter(@total_number_en_users, :delimiter => ',') %>
    </td>
  </tr>
  <tr>
    <td>
      <%= t('statistics.num_chinese_users') %>
    </td>
    <td>
      <%= number_with_delimiter(@total_number_zh_users, :delimiter => ',') %>
    </td>
  </tr>
  <tr>
    <td>
      <%= t('statistics.total_value_properties') %>
    </td>
    <td>
      <span class="statistics-inline-value" title="<%= number_with_delimiter(@total_portfolio_on_books) %>"><%= number_to_human(@total_portfolio_on_books, precision: 2) %></span>
    </td>
  </tr>
  <tr>
    <td>
      <%= t('statistics.total_num_properties') %>
    </td>
    <td>
      <%= number_with_delimiter(@total_properties, :delimiter => ',') %>
    </td>
  </tr>
  <tr>
    <td>
      <%= t('statistics.num_properties_sale') %>
    </td>
    <td>
      <%= number_with_delimiter(@total_for_sale, :delimiter => ',') %>
    </td>
  </tr>
  <tr>
    <td>
      <%= t('statistics.num_properties_rent') %>
    </td>
    <td>
      <%= number_with_delimiter(@total_for_rent, :delimiter => ',') %>
    </td>
  </tr>
</table>
