<h5><%= t('statistics.site_statistics') %></h5>
<table class="statistics-table">
  <tr>
    <th width=65%></th>
    <th width=35%><%= t(:total) %></th>
  </tr>
  <tr>
    <td>
      <%= t('statistics.active_users_today') %>
    </td>
    <td>
      <%= number_with_delimiter(@active_users_today, :delimiter => ',') %>
    </td>
  </tr>
  <tr>
    <td>
      <%= t('statistics.properties_added_today') %>
    </td>
    <td>
      <%= number_with_delimiter(@properties_added_today, :delimiter => ',') %>
    </td>
  </tr>
  <tr>
    <td>
      <%= t('statistics.new_members_today') %>
    </td>
    <td>
      <%= number_with_delimiter(@users_added_today, :delimiter => ',') %>
    </td>
  </tr>
  <tr>
    <td>
      <%= t('statistics.tbc') %>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td>
      <%= t('statistics.tbc') %>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td>
      <%= t('statistics.tbc') %>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td>
      <%= t('statistics.tbc') %>
    </td>
    <td>
    </td>
  </tr>
</table>
