<% title t('statistics.title') %>

<div class="row">

  <div class="large-12 columns" role="content">
    <h4><%= t('statistics.title') %></h4>
  </div>

  <div class="large-4 columns">
    <div class="panel">

      <%= render 'statistics/property_totals' %>

    </div>
  </div>

  <div class="large-4 columns">
    <div class="panel">

      <%= render 'statistics/property_sizes' %>

    </div>
  </div>

  <div class="large-4 columns">
    <div class="panel">

      <%= render 'statistics/website_statistics' %>

    </div>
  </div>

</div>

<div class="row">

  <div class="large-6 columns">
    <div class="panel">

      <%= render 'statistics/english_vs_chinese_chart' %>

    </div>
  </div>

  <div class="large-6 columns">
    <div class="panel">

      <%= render 'statistics/property_size_chart' %>

    </div>
  </div>

</div>

<div class="row">

  <div class="large-6 columns">
    <div class="panel">

      <%= render 'statistics/geographical_activity_chart' %>

    </div>
  </div>

  <div class="large-6 columns">
    <div class="panel">

      <%= render 'statistics/sale_vs_rent_chart' %>

    </div>
  </div>

</div>