<% form_model = local_assigns.fetch(:form_model, @property) %>
<% cancel_path = local_assigns.fetch(:cancel_path, properties_path) %>
<% allow_destroy = local_assigns.fetch(:allow_destroy, true) %>

<%= form_with model: form_model do |f| %>
  <%= render "shared/errors", object: @property %>

  <div class="form-grid">
    <div>
      <%= f.label :address_line_1 %>
      <%= f.text_field :address_line_1, autofocus: true %>
    </div>
    <div>
      <%= f.label :address_line_2 %>
      <%= f.text_field :address_line_2 %>
    </div>
    <div>
      <%= f.label :town_city %>
      <%= f.text_field :town_city %>
    </div>
    <div>
      <%= f.label :county %>
      <%= f.text_field :county %>
    </div>
    <div>
      <%= f.label :postcode %>
      <%= f.text_field :postcode %>
    </div>
    <div>
      <%= f.label :country %>
      <%= f.text_field :country %>
    </div>
    <div>
      <%= f.label :property_type, "Property type" %>
      <%= f.text_field :property_type %>
    </div>
    <div>
      <%= f.label :listing_tagline, "Tagline" %>
      <%= f.text_field :listing_tagline, placeholder: "A calm family home close to the station" %>
    </div>
    <div>
      <%= f.label :bedrooms %>
      <%= f.number_field :bedrooms, min: 0 %>
    </div>
    <div>
      <%= f.label :bathrooms, "Bathrooms" %>
      <%= f.number_field :bathrooms, min: 1 %>
    </div>
    <div>
      <%= f.label :sale_status %>
      <%= f.select :sale_status, Property::SALE_STATUS, prompt: t('properties.pick_one') %>
    </div>
    <div>
      <%= f.label :asking_price %>
      <%= f.number_field :asking_price, min: 0, step: 1000 %>
    </div>
    <div>
      <%= f.label :image_file_name %>
      <%= f.text_field :image_file_name %>
    </div>
    <div class="form-grid__checkbox">
      <%= f.check_box :featured %>
      <%= f.label :featured, "Feature this listing", class: "checkbox-label" %>
    </div>
    <div class="form-grid__full">
      <%= f.label :property_description %>
      <%= f.text_area :property_description, rows: 10 %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit class: "button primary" %>
    <%= link_to t('helpers.label.property.cancel'), cancel_path, class: 'button hollow secondary' %>
    <% if allow_destroy && !current_page?(controller: 'properties', action: 'new') %>
      <%= link_to t('helpers.label.property.delete_property'),
                  @property,
                  class: 'button alert hollow',
                  data: { turbo_method: :delete, turbo_confirm: t('helpers.label.property.are_you_sure') } %>
    <% end %>
  </div>
<% end %>
