<% form_model = local_assigns.fetch(:form_model, @property) %>
<% cancel_path = local_assigns.fetch(:cancel_path, properties_path) %>
<% allow_destroy = local_assigns.fetch(:allow_destroy, true) %>

<%= form_with model: form_model, class: "stacked-form property-listing-form", data: { testid: "property-listing-form" } do |f| %>
  <%= render "shared/errors", object: form_model %>

  <section class="property-panel" data-testid="listing-workflow-panel">
    <h2><%= t("ui.properties.editor.workflow_title") %></h2>
    <div class="form-grid">
      <div>
        <%= f.label :listing_state, t("ui.properties.editor.fields.listing_state"), **form_label_options(form_model, :listing_state) %>
        <%= f.select :listing_state, property_listing_state_options, {}, form_control_options(form_model, :listing_state, classes: nil, data: { testid: "listing-state-select" }) %>
        <%= field_error_messages(form_model, :listing_state) %>
      </div>
      <div>
        <%= f.label :sale_status, t("ui.properties.editor.fields.sale_status"), **form_label_options(form_model, :sale_status) %>
        <%= f.select :sale_status, Property::SALE_STATUS, { prompt: t('properties.pick_one') }, form_control_options(form_model, :sale_status, classes: nil) %>
        <%= field_error_messages(form_model, :sale_status) %>
      </div>
      <div class="form-grid__checkbox">
        <%= f.check_box :featured %>
        <%= f.label :featured, t("ui.properties.editor.fields.featured"), class: "checkbox-label" %>
      </div>
    </div>
  </section>

  <section class="property-panel">
    <h2><%= t("ui.properties.editor.core_details_title") %></h2>
  <div class="form-grid">
    <div>
      <%= f.label :address_line_1, t("ui.properties.editor.fields.address_line_1"), **form_label_options(form_model, :address_line_1) %>
      <%= f.text_field :address_line_1, autofocus: true, required: true, maxlength: 50, **form_control_options(form_model, :address_line_1) %>
      <%= field_error_messages(form_model, :address_line_1) %>
    </div>
    <div>
      <%= f.label :address_line_2, t("ui.properties.editor.fields.address_line_2"), **form_label_options(form_model, :address_line_2) %>
      <%= f.text_field :address_line_2, maxlength: 50, **form_control_options(form_model, :address_line_2) %>
      <%= field_error_messages(form_model, :address_line_2) %>
    </div>
    <div>
      <%= f.label :town_city, t("ui.properties.editor.fields.town_city"), **form_label_options(form_model, :town_city) %>
      <%= f.text_field :town_city, required: true, maxlength: 50, **form_control_options(form_model, :town_city) %>
      <%= field_error_messages(form_model, :town_city) %>
    </div>
    <div>
      <%= f.label :county, t("ui.properties.editor.fields.county"), **form_label_options(form_model, :county) %>
      <%= f.text_field :county, required: true, maxlength: 50, **form_control_options(form_model, :county) %>
      <%= field_error_messages(form_model, :county) %>
    </div>
    <div>
      <%= f.label :postcode, t("ui.properties.editor.fields.postcode"), **form_label_options(form_model, :postcode) %>
      <%= f.text_field :postcode, required: true, maxlength: 50, **form_control_options(form_model, :postcode) %>
      <%= field_error_messages(form_model, :postcode) %>
    </div>
    <div>
      <%= f.label :country, t("ui.properties.editor.fields.country"), **form_label_options(form_model, :country) %>
      <%= f.text_field :country, required: true, maxlength: 50, **form_control_options(form_model, :country) %>
      <%= field_error_messages(form_model, :country) %>
    </div>
    <div>
      <%= f.label :property_type, t("ui.properties.editor.fields.property_type"), **form_label_options(form_model, :property_type) %>
      <%= f.text_field :property_type, required: true, maxlength: 50, **form_control_options(form_model, :property_type) %>
      <%= field_error_messages(form_model, :property_type) %>
    </div>
    <div>
      <%= f.label :listing_tagline, t("ui.properties.editor.fields.listing_tagline"), **form_label_options(form_model, :listing_tagline) %>
      <%= f.text_field :listing_tagline, placeholder: t("ui.properties.editor.placeholders.listing_tagline"), maxlength: 120, **form_control_options(form_model, :listing_tagline) %>
      <%= field_error_messages(form_model, :listing_tagline) %>
    </div>
    <div>
      <%= f.label :bedrooms, t("ui.properties.editor.fields.bedrooms"), **form_label_options(form_model, :bedrooms) %>
      <%= f.number_field :bedrooms, min: 0, step: 1, required: true, **form_control_options(form_model, :bedrooms) %>
      <%= field_error_messages(form_model, :bedrooms) %>
    </div>
    <div>
      <%= f.label :bathrooms, t("ui.properties.editor.fields.bathrooms"), **form_label_options(form_model, :bathrooms) %>
      <%= f.number_field :bathrooms, min: 1, step: 1, required: true, **form_control_options(form_model, :bathrooms) %>
      <%= field_error_messages(form_model, :bathrooms) %>
    </div>
    <div>
      <%= f.label :asking_price, t("ui.properties.editor.fields.asking_price"), **form_label_options(form_model, :asking_price) %>
      <%= f.number_field :asking_price, min: 0, step: 1000, required: true, **form_control_options(form_model, :asking_price) %>
      <%= field_error_messages(form_model, :asking_price) %>
    </div>
    <div>
      <%= f.label :image_file_name, t("ui.properties.editor.fields.image_file_name"), **form_label_options(form_model, :image_file_name) %>
      <%= f.text_field :image_file_name, placeholder: t("ui.properties.editor.placeholders.image_file_name"), **form_control_options(form_model, :image_file_name) %>
      <%= field_error_messages(form_model, :image_file_name) %>
    </div>
    <div class="form-grid__full">
      <%= f.label :property_description, t("ui.properties.editor.fields.property_description"), **form_label_options(form_model, :property_description) %>
      <%= f.text_area :property_description, rows: 10, required: true, maxlength: 5000, **form_control_options(form_model, :property_description) %>
      <%= field_error_messages(form_model, :property_description) %>
    </div>
  </div>
  </section>

  <section class="property-panel" data-testid="listing-facts-panel">
    <h2><%= t("ui.properties.editor.facts_title") %></h2>
    <div class="form-grid">
      <div>
        <%= f.label :tenure, t("ui.properties.editor.fields.tenure"), **form_label_options(form_model, :tenure) %>
        <%= f.text_field :tenure, placeholder: t("ui.properties.editor.placeholders.tenure"), **form_control_options(form_model, :tenure) %>
        <%= field_error_messages(form_model, :tenure) %>
      </div>
      <div>
        <%= f.label :council_tax_band, t("ui.properties.editor.fields.council_tax_band"), **form_label_options(form_model, :council_tax_band) %>
        <%= f.text_field :council_tax_band, placeholder: t("ui.properties.editor.placeholders.council_tax_band"), **form_control_options(form_model, :council_tax_band) %>
        <%= field_error_messages(form_model, :council_tax_band) %>
      </div>
      <div>
        <%= f.label :furnishing, t("ui.properties.editor.fields.furnishing"), **form_label_options(form_model, :furnishing) %>
        <%= f.text_field :furnishing, placeholder: t("ui.properties.editor.placeholders.furnishing"), **form_control_options(form_model, :furnishing) %>
        <%= field_error_messages(form_model, :furnishing) %>
      </div>
      <div>
        <%= f.label :available_from, t("ui.properties.facts.available_from"), **form_label_options(form_model, :available_from) %>
        <%= f.date_field :available_from, **form_control_options(form_model, :available_from) %>
        <%= field_error_messages(form_model, :available_from) %>
      </div>
      <div>
        <%= f.label :year_built, t("ui.properties.editor.fields.year_built"), **form_label_options(form_model, :year_built) %>
        <%= f.number_field :year_built, min: 1700, max: Date.current.year + 1, step: 1, placeholder: t("ui.properties.editor.placeholders.year_built"), **form_control_options(form_model, :year_built) %>
        <%= field_error_messages(form_model, :year_built) %>
      </div>
      <div>
        <%= f.label :refurbished_year, t("ui.properties.editor.fields.refurbished_year"), **form_label_options(form_model, :refurbished_year) %>
        <%= f.number_field :refurbished_year, min: 1700, max: Date.current.year + 1, step: 1, placeholder: t("ui.properties.editor.placeholders.refurbished_year"), **form_control_options(form_model, :refurbished_year) %>
        <%= field_error_messages(form_model, :refurbished_year) %>
      </div>
      <div>
        <%= f.label :parking, t("ui.properties.editor.fields.parking"), **form_label_options(form_model, :parking) %>
        <%= f.text_field :parking, placeholder: t("ui.properties.editor.placeholders.parking"), **form_control_options(form_model, :parking) %>
        <%= field_error_messages(form_model, :parking) %>
      </div>
      <div>
        <%= f.label :outdoor_space, t("ui.properties.editor.fields.outdoor_space"), **form_label_options(form_model, :outdoor_space) %>
        <%= f.text_field :outdoor_space, placeholder: t("ui.properties.editor.placeholders.outdoor_space"), **form_control_options(form_model, :outdoor_space) %>
        <%= field_error_messages(form_model, :outdoor_space) %>
      </div>
      <div>
        <%= f.label :floor_area_sq_ft, t("ui.properties.editor.floor_area_label"), **form_label_options(form_model, :floor_area_sq_ft) %>
        <%= f.number_field :floor_area_sq_ft, min: 0, step: 1, **form_control_options(form_model, :floor_area_sq_ft) %>
        <%= field_error_messages(form_model, :floor_area_sq_ft) %>
      </div>
      <div>
        <%= f.label :deposit_amount, t("ui.properties.editor.fields.deposit_amount"), **form_label_options(form_model, :deposit_amount) %>
        <%= f.number_field :deposit_amount, min: 0, step: 50, **form_control_options(form_model, :deposit_amount) %>
        <%= field_error_messages(form_model, :deposit_amount) %>
      </div>
      <div>
        <%= f.label :service_charge_amount, t("ui.properties.editor.fields.service_charge_amount"), **form_label_options(form_model, :service_charge_amount) %>
        <%= f.number_field :service_charge_amount, min: 0, step: 50, **form_control_options(form_model, :service_charge_amount) %>
        <%= field_error_messages(form_model, :service_charge_amount) %>
      </div>
      <div>
        <%= f.label :lease_length_years, t("ui.properties.editor.fields.lease_length_years"), **form_label_options(form_model, :lease_length_years) %>
        <%= f.number_field :lease_length_years, min: 0, step: 1, **form_control_options(form_model, :lease_length_years) %>
        <%= field_error_messages(form_model, :lease_length_years) %>
      </div>
      <div class="form-grid__checkbox">
        <%= f.check_box :pets_allowed %>
        <%= f.label :pets_allowed, t("ui.properties.editor.fields.pets_allowed"), class: "checkbox-label" %>
      </div>
    </div>
  </section>

  <div class="form-actions property-listing-form__actions">
    <%= f.submit t("ui.properties.editor.submit"), class: "button primary" %>
    <%= link_to t("ui.common.cancel"), cancel_path, class: "button hollow secondary" %>
    <% if allow_destroy && !current_page?(controller: 'properties', action: 'new') %>
      <%= link_to t("ui.properties.editor.delete_property"),
                  @property,
                  class: 'button alert hollow',
                  data: { turbo_method: :delete, turbo_confirm: t("ui.properties.editor.confirm_delete") } %>
    <% end %>
  </div>
<% end %>
