<aside class="large-3 columns">

  <% unless current_page?(controller: 'properties', action: 'new') %>

      <p class="property-sidebar__title"><strong><%= t('user.property_details') %></strong></p>
      <ul class="side-nav">
        <li><%= link_to t('photos.title'), property_photos_path(@property) %></li>
        <li><%= link_to t('floor_plans.title'), property_floor_plans_path(@property) %></li>
        <li><%= link_to t('location.title'), location_path(@property) %></li>
        <li><%= link_to t('viewing_times.title'), property_viewing_times_path(@property) %></li>
      </ul>

  <% end %>

  <div class="panel">
    <div class="property-sidebar__brand"><%= render "layouts/gotthekeys", variant: :theme_aware %></div>

    <p><%= t(:need_help) %></p>

    <p><%= t(:preferred_list) %></p>
    <%= link_to t(:read_more), root_path %>
  </div>

</aside>
