<% if object.errors.any? %>
    <section id="errors">
      <header>
        <h2>
          <%= t('errors.oops') %>! <%= t('errors.the') %> <%= object.class.name.titleize.downcase %> <%= t('errors.could_not_be_saved') %>.
        </h2>

        <h3>
          <%= t('errors.please_correct_the_following') %> <%= pluralize(object.errors.count, t('errors.error')) %>:
        </h3>
      </header>
      <ul>
          <% object.errors.full_messages.each do |message| %>
              <li><%= message %></li>
          <% end %>
      </ul>
    </section>
<% end %>
