<% if object.errors.any? %>
  <section id="errors" aria-live="polite">
    <header>
      <h2>
        <%= t('errors.oops') %>! <%= t('errors.the') %> <%= object.model_name.human.downcase %> <%= t('errors.could_not_be_saved') %>.
      </h2>

      <h3>
        <%= t('errors.please_correct_the_following') %> <%= pluralize(object.errors.count, t('errors.error')) %>:
      </h3>
    </header>
    <ul>
      <% object.errors.full_messages.uniq.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </section>
<% end %>
