<div class="row">
  <div class="large-12 columns">
    <div class="orbit site-hero" role="region" aria-label="<%= t('welcome.title') %>" data-orbit data-auto-play="true">
      <ul class="orbit-container">
        <button class="orbit-previous" aria-label="Previous slide" type="button">
          <span class="show-for-sr">Previous slide</span>&#9664;&#65038;
        </button>
        <button class="orbit-next" aria-label="Next slide" type="button">
          <span class="show-for-sr">Next slide</span>&#9654;&#65038;
        </button>
        <li class="is-active orbit-slide"><%= hero_1_image %></li>
        <li class="orbit-slide"><%= hero_2_image %></li>
        <li class="orbit-slide"><%= hero_3_image %></li>
      </ul>
      <nav class="orbit-bullets">
        <button class="is-active" data-slide="0"><span class="show-for-sr">First slide</span></button>
        <button data-slide="1"><span class="show-for-sr">Second slide</span></button>
        <button data-slide="2"><span class="show-for-sr">Third slide</span></button>
      </nav>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-4 columns">
    <div class="site-card">
      <%= welcome_image_1 %>
    </div>
  </div>

  <div class="large-8 columns">
    <div class="panel site-intro">
      <h4><%= t('welcome.welcome_message') %></h4>

      <div class="row">
        <div class="large-6 columns">
          <p>
            <span data-tooltip class="has-tip top" tabindex="1" title="<%= t('welcome.tool_tip_content') %>"><%= t('welcome.tool_tip') %></span>
            <%= t('welcome.paragraph_1') %>
          </p>
        </div>
        <div class="large-6 columns">
          <p><%= t('welcome.paragraph_2') %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-8 columns">
    <div class="panel site-intro">
      <h4><%= t('welcome.try_today') %></h4>
      <p><%= t('welcome.paragraph_3') %></p>
      <p><%= t('welcome.paragraph_4') %></p>
    </div>
  </div>

  <div class="large-4 columns">
    <div class="site-card">
      <%= welcome_image_2 %>
    </div>
  </div>
</div>
