<p><%= t("ui.appointment_mailer.greeting", name: @appointment.customer_name) %></p>

<p><%= t("ui.appointment_mailer.updated_html", address: @property.address_line_1) %></p>

<ul>
  <li><%= t("ui.appointment_mailer.reference", reference: @appointment.public_reference) %></li>
  <li><%= t("ui.appointment_mailer.status", status: @appointment.display_status) %></li>
  <li><%= t("ui.appointment_mailer.requested_slot", time: l(@appointment.requested_time, format: :long)) %></li>
  <li><%= t("ui.appointment_mailer.current_slot", time: l(@appointment.scheduled_at, format: :long)) %></li>
</ul>

<% if @appointment.notes.present? %>
  <p><%= t("ui.appointment_mailer.notes", notes: @appointment.notes) %></p>
<% end %>

<p><%= t("ui.appointment_mailer.revisit") %></p>

<p><%= t("ui.appointment_mailer.thanks_html") %></p>
