<% title t('legal.title') %>

<div class="row">

  <div class="large-9 push-3 columns">

    <h3><%= t('legal.header') %>
      <small><%= t('legal.blurb') %></small>
    </h3>

    <p><%= t('legal.paragraph_1') %></p>

    <p><%= t('legal.paragraph_2') %></p>

    <p><%= t('legal.paragraph_3') %></p>

    <p><%= t('legal.paragraph_4') %></p>

    <p><%= t('legal.paragraph_5') %></p>

  </div>

  <div class="large-3 pull-9 columns">

    <ul class="side-nav">
      <li><a href="#"><%= t('side.section') %> 1</a></li>
      <li><a href="#"><%= t('side.section') %> 2</a></li>
      <li><a href="#"><%= t('side.section') %> 3</a></li>
    </ul>

    <p><%= world_image %></p>

  </div>

</div>