<h1><%= t("ui.aardvarks.index.title") %></h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @aardvarks.each do |aardvark| %>
      <tr>
        <td><%= link_to t("ui.aardvarks.actions.show"), aardvark %></td>
        <td><%= link_to t("ui.aardvarks.actions.edit"), edit_aardvark_path(aardvark) %></td>
        <td><%= link_to t("ui.aardvarks.actions.destroy"), aardvark, data: { turbo_method: :delete, turbo_confirm: t("ui.aardvarks.actions.confirm_destroy") } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t("ui.aardvarks.index.new"), new_aardvark_path %>
