<% title t('search.title') %>

<div class="row">

  <div class="large-9 columns">

    <h4><%= t('search.search_for_properties') %></h4>

    <div class="row">
      <%= render "searches/simple_search" %>
    </div>

    <p class="search-results-meta"><%= t('search.results') %>: <%= number_with_delimiter(@number_search_results.count, delimiter: ',') %></p>

    <%= paginate @properties %>

    <%= render "properties/property" %>

    <%= paginate @properties %>

  </div>

  <%= render "layouts/sidebar" %>

</div>
