<footer class="site-footer">
  <div class="row site-footer__inner">
    <div class="large-4 columns">
      <p class="site-footer__brand">&copy; <%= Time.current.year %> <%= render "layouts/gotthekeys" %></p>
    </div>

    <div class="large-8 columns">
      <ul class="menu align-right site-footer__links">
        <li><%= link_to t('legal.title'), legal_index_path %></li>
        <li><%= link_to t('cookie_policy.title'), cookie_policy_index_path %></li>
        <li><%= link_to t('how_it_works.title'), how_it_works_path %></li>
        <li><%= link_to t('about_us.title'), about_us_path %></li>
        <li><%= link_to t('contact_us.title'), contact_us_path %></li>
        <li><%= link_to t('blog.title'), blog_index_path %></li>
      </ul>

      <ul class="menu align-right site-footer__social">
        <li><a href="#" class="badge secondary">RSS</a></li>
        <li><a href="#" class="badge secondary">Facebook</a></li>
        <li><a href="#" class="badge secondary">Twitter</a></li>
      </ul>
    </div>
  </div>
</footer>
