<footer class="site-footer">
  <div class="site-footer__inner">
    <div class="site-footer__intro">
      <p class="site-footer__brand">
        <span>&copy; 2026 Steven Hobbs</span>
        <%= render "layouts/gotthekeys", class_name: "marketing-wordmark--footer", decorative: true, variant: :dark, width: 172 %>
      </p>
      <p class="site-footer__copy"><%= t("ui.site_footer.copy") %></p>
    </div>

    <div class="site-footer__meta">
      <ul class="menu site-footer__links">
        <li><%= link_to t('legal.title'), legal_index_path %></li>
        <li><%= link_to t('cookie_policy.title'), cookie_policy_index_path %></li>
        <li><%= link_to t('how_it_works.title'), how_it_works_path %></li>
        <li><%= link_to t('about_us.title'), about_us_path %></li>
        <li><%= link_to t('contact_us.title'), contact_us_path %></li>
        <li><%= link_to t('blog.title'), blog_index_path %></li>
      </ul>

      <p class="site-footer__small">
        <span class="site-footer__meta-copy"><%= t("ui.site_footer.meta_copy") %></span>
        <span class="site-footer__utility">
          <%= link_to t("cookie_policy.manage_preferences"), cookie_policy_index_path(anchor: "cookie-preferences") %>
          <span class="site-footer__version" data-testid="public-app-version"><%= public_app_version %></span>
        </span>
      </p>
    </div>
  </div>
</footer>
