<% user_properties = user_signed_in? ? current_user.properties.order(:address_line_1) : [] %>

<header class="site-header">
  <div class="title-bar" data-responsive-toggle="primary-menu" data-hide-for="large">
    <button class="menu-icon" type="button" data-toggle aria-label="Open navigation"></button>
    <div class="title-bar-title"><%= t('gotthekeys.gotthekeys') %></div>
  </div>

  <div class="top-bar" id="primary-menu">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text site-brand-mark"><%= render "layouts/gotthekeys" %></li>
        <li><%= link_to t('welcome.title'), root_path %></li>
        <li><%= link_to t('properties.title'), properties_path %></li>
        <li><%= link_to t('for_sale.title'), for_sale_index_path %></li>
        <li><%= link_to t('for_rent.title'), for_rent_index_path %></li>
        <li><%= link_to t('search.title'), searches_path %></li>
      </ul>
    </div>

    <div class="top-bar-right">
      <ul class="dropdown menu align-right" data-dropdown-menu>
        <% if user_signed_in? %>
          <li class="menu-text site-user-meta">
            <%= t('menu.welcome') %> <strong><%= current_user.first_name.capitalize %></strong><br>
            <small><%= current_user.email %></small>
          </li>
          <li id="manage-account">
            <a href="#"><%= t('menu.manage_account') %></a>
            <ul class="menu vertical">
              <li><%= link_to t('menu.add_property'), new_property_path %></li>
              <li><%= link_to t('menu.user_profile'), edit_user_registration_path %></li>
              <li><%= link_to t('menu.account_billing'), account_billing_index_path %></li>
              <% if user_properties.any? %>
                <li class="menu-text submenu-label"><%= t('menu.my_property_details') %></li>
                <% user_properties.each do |property| %>
                  <li>
                    <a href="#"><%= property.address_line_1 %></a>
                    <ul class="menu vertical">
                      <li><%= link_to t('menu.description'), edit_property_path(property), id: "description" %></li>
                      <li><%= link_to t('menu.photos'), new_property_photo_path(property) %></li>
                      <li><%= link_to t('menu.floor_plans'), new_property_floor_plan_path(property) %></li>
                      <li><%= link_to t('menu.viewing_times'), new_property_viewing_time_path(property) %></li>
                    </ul>
                  </li>
                <% end %>
              <% end %>
              <li class="menu-text submenu-label"><%= t('menu.language_preference') %></li>
              <li>
                <%= link_to({ controller: 'language', action: 'new', language: 'en' }, class: 'language-link') do %>
                  <%= image_tag('gb.svg', size: '20x20') %>
                  <span>English</span>
                <% end %>
              </li>
              <li>
                <%= link_to({ controller: 'language', action: 'new', language: 'zh' }, class: 'language-link') do %>
                  <%= image_tag('cn.svg', size: '20x20') %>
                  <span>中文</span>
                <% end %>
              </li>
            </ul>
          </li>
          <li>
            <%= link_to t('menu.logout'),
                        destroy_user_session_path,
                        class: 'button alert hollow site-action',
                        data: { turbo_method: :delete } %>
          </li>
        <% elsif admin_signed_in? %>
          <li class="menu-text site-user-meta">
            <%= t('menu.logged_in_as_admin') %><br>
            <small><%= current_admin.email %></small>
          </li>
          <li id="manage-admin">
            <a href="#"><%= t('menu.manage_account') %></a>
            <ul class="menu vertical">
              <li><%= link_to t('members.title'), members_path %></li>
              <li><%= link_to t('statistics.title'), statistics_path %></li>
              <li><%= link_to t('menu.coffeescripts'), coffee_index_path %></li>
              <li><%= link_to t('account_billing.title'), account_billing_index_path %></li>
              <li class="menu-text submenu-label"><%= t('menu.language_preference') %></li>
              <li>
                <%= link_to({ controller: 'language', action: 'new', language: 'en' }, class: 'language-link') do %>
                  <%= image_tag('gb.svg', size: '20x20') %>
                  <span>English</span>
                <% end %>
              </li>
              <li>
                <%= link_to({ controller: 'language', action: 'new', language: 'zh' }, class: 'language-link') do %>
                  <%= image_tag('cn.svg', size: '20x20') %>
                  <span>中文</span>
                <% end %>
              </li>
            </ul>
          </li>
          <li>
            <%= link_to t('menu.logout'),
                        destroy_admin_session_path,
                        class: 'button alert hollow site-action',
                        data: { turbo_method: :delete } %>
          </li>
        <% else %>
          <li><%= link_to t('menu.register'), new_user_registration_path, id: "register" %></li>
          <li><%= link_to t('menu.sign_in'), new_user_session_path, class: 'button hollow site-action', id: "sign_in" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>
