<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : t('gotthekeys.gotthekeys') %></title>
    <%= favicon_link_tag "favicon-house.svg", rel: "icon", type: "image/svg+xml", sizes: "any" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track" => "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track" => "reload", defer: true %>
  </head>

  <body class="site-shell <%= controller_path.tr('/', '-') %>">
    <div class="site-background" aria-hidden="true"></div>
    <%= render "layouts/header" %>
    <%= render "layouts/flashes" %>

    <main class="site-main">
      <%= yield %>
    </main>

    <%= render "layouts/footer" %>
    <%= render "layouts/cookie_consent" %>
  </body>
</html>
