<% title t('members.title') %>

<div class="row">

  <div class="large-12 columns">
    <h4><%= t('members.sale_or_rental') %>
      <small><%= t(:total) %>: <%= number_with_delimiter(@total_number_users, :delimiter => ',') %></small>
    </h4>
  </div>

  <div class="large-12 columns">
    <%= paginate @users %>
  </div>

  <div class="large-12 columns">
    <table width=100%>
      <tr>
        <th width=10%><%= t('members.member_username') %></th>
        <th width=5%><%= t('members.num') %></th>
        <th width=22%><%= t('members.properties_for_sale') %></th>
        <th width=10%><%= t('members.total_selling_value') %></th>
        <th width=22%><%= t('members.properties_for_sale') %></th>
        <th width=10%><%= t('members.total_rental_value') %></th>
      </tr>

      <% @users.each do |user| %>
          <!-- TODO this need refactoring to use helpers -->
          <tr>
            <td>
              <%= link_to format_name(user), user %>
            </td>
            <td>
              <%= user.properties.size %>
            </td>
            <td>
              <%= raw user.properties.where(:sale_status => 'For Sale').collect { |property| link_to property.address_line_1, property_path(property) }.join(", ") %>
            </td>
            <td>
              <% if user.properties.where(:sale_status => 'For Sale').exists? %>
                  <%= format_total(user.properties.where(:sale_status => 'For Sale').sum(:asking_price)) %>
              <% end %>
            </td>
            <td>
              <%= raw user.properties.where(:sale_status => 'For Rent').collect { |property| link_to property.address_line_1, property_path(property) }.join(", ") %>
            </td>
            <td>
              <% if user.properties.where(:sale_status => 'For Rent').exists? %>
                  <%= format_total(user.properties.where(:sale_status => 'For Rent').sum(:asking_price)) %>
              <% end %>
            </td>
          </tr>

          <div id="myModal" class="reveal-modal">
            <h3><%= render "layouts/gotthekeys" %></h3>

            <p><strong>Name:</strong>  <%= user.first_name.capitalize %> <%= user.last_name.capitalize %></p>

            <p><strong>Email:</strong>  <%= user.email %></p>

            <p><strong><%= t('properties.property_details') %>:</strong></p>
            <% user.properties.each do |property| %>

                <ul class="vcard">
                  <li><%= property.address_line_1 %></li>
                  <li><%= property.address_line_2 %></li>
                  <li><%= property.town_city %></li>
                  <li><%= property.county %></li>
                  <li><%= property.postcode %></li>
                  <li><%= property.country %></li>
                </ul>

            <% end %>
            <p><strong>Appointments:</strong></p>
            <a class="close-reveal-modal">&#215;</a>
          </div>

      <% end %>

    </table>

  </div>

  <div class="large-12 columns">
    <%= paginate @users %>
  </div>

</div>

