<% title t('members.title') %>

<div class="row">
  <div class="large-12 columns">
    <h1 class="legacy-page-heading"><%= t('members.sale_or_rental') %> <small><%= t(:total) %>: <%= number_with_delimiter(@total_number_users, delimiter: ',') %></small></h1>
  </div>

  <div class="large-12 columns">
    <%= paginate @users %>
  </div>

  <div class="large-12 columns">
    <table class="responsive stack">
      <thead>
        <tr>
          <th><%= t('members.member_username') %></th>
          <th><%= t('members.num') %></th>
          <th><%= t('members.properties_for_sale') %></th>
          <th><%= t('members.total_selling_value') %></th>
          <th><%= t('members.properties_for_sale') %></th>
          <th><%= t('members.total_rental_value') %></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <% sale_properties = user.properties.select { |property| property.sale_status == Property::SALE_STATUSES[:for_sale] } %>
          <% rent_properties = user.properties.select { |property| property.sale_status == Property::SALE_STATUSES[:for_rent] } %>
          <tr>
            <td>
              <strong><%= link_to format_name(user), user %></strong><br>
              <small><%= user.email %></small>
            </td>
            <td><%= user.properties.size %></td>
            <td><%= safe_join(sale_properties.map { |property| link_to property.address_line_1, property_path(property) }, ', ') %></td>
            <td><%= sale_properties.any? ? format_total(sale_properties.sum(&:asking_price)) : '' %></td>
            <td><%= safe_join(rent_properties.map { |property| link_to property.address_line_1, property_path(property) }, ', ') %></td>
            <td><%= rent_properties.any? ? format_total(rent_properties.sum(&:asking_price)) : '' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="large-12 columns">
    <%= paginate @users %>
  </div>
</div>
